html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: @navbar-height;
  margin-bottom: @line-height-computed * 3;

  @media (min-width: @grid-float-breakpoint) {
    padding-top: 0;
  }
}

#header {
  background-color: @brand-primary;
  margin-bottom: @line-height-computed;
}

#navbar-main {
  @media (min-width: @grid-float-breakpoint) {
    position: static;
  }
}

.site-logo,
.site-name {
  .text-center;

  margin: @line-height-computed;

  a {
    color: @btn-primary-color;
    text-decoration: none;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @line-height-computed * 3;
  background-color: @gray-lighter;

  .container {
    .text-center;

    padding-top: @line-height-computed;
    padding-bottom: @line-height-computed;
  }
}

.page-title {
  .h3;
}

//
// Posts
// --------------------------------------------------

.content > article {
  padding-bottom: @line-height-computed / 2;
}

.content > article + article {
  padding-top: @line-height-computed;
  border-top: 1px solid @gray-lighter;
}

.entry-title + .entry-meta {
  &:extend(.clearfix all);

  margin: @line-height-computed / 2 0;
  border: 1px solid @well-border;
  border-radius: @border-radius-base;

  div + div {
    border-left: 1px solid @well-border;
  }
}

.entry-meta-author,
.entry-meta-date,
.entry-meta-comments {
  .text-center;
  &:extend(small);

  padding: 5px 10px;
}

.entry-meta-author,
.entry-meta-date {
  .pull-left;
  width: 50%;
}

.entry-meta-comments {
  clear: both;
  border-top: 1px solid @well-border;
}

.entry-meta-categories {
  a {
    .label;
    .label-default;

    font-weight: normal;
    text-decoration: none;
  }
}

//
// Sidebars
// --------------------------------------------------

.sidebar {
  .sr-only;
}
