html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: @navbar-height;
  margin-bottom: @line-height-computed * 3;

  @media (min-width: @grid-float-breakpoint) {
    padding-top: 0;
  }
}

#header {
  background-color: @brand-primary;
}

#navbar-main {
  @media (min-width: @grid-float-breakpoint) {
    z-index: @zindex-navbar;
    position: relative;
  }
}

.carousel-home {
  margin-right:  -(@grid-gutter-width / 2);
  margin-left:   -(@grid-gutter-width / 2);
  margin-bottom: @line-height-computed;

  .item {
    width: 100%;
    height: 200px;
    max-width: 100%;
    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

    @media (min-width: @screen-xs-min) and (max-width: @screen-sm-max) {
      height: 250px;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      height: 300px;
    }

    @media (min-width: @screen-lg-min) {
      height: 400px;
    }
  }

  .carousel-caption {
    font-size: 80%;
  }
}

.site-name {
  .h3;
  .text-center;

  margin: @line-height-computed;

  a {
    color: @btn-primary-color;
    text-decoration: none;
  }
}

.site-logo {
  img {
    .center-block;

    @media (max-width: @screen-xs-max) {
      max-width: 200%;
    }
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @line-height-computed * 3;
  background-color: @gray-lighter;

  .container {
    .text-center;

    padding-top: @line-height-computed;
    padding-bottom: @line-height-computed;
  }
}

.page-title {
  .h3;
}

//
// Posts
// --------------------------------------------------

.content > article + article {
  padding-top: @line-height-computed;
}

.entry-meta-middle {
  &:extend(.clearfix all);

  margin: @line-height-computed / 2 0;
  border: 1px solid @well-border;
  border-radius: @border-radius-base;

  div + div {
    border-left: 1px solid @well-border;
  }
}

a.post-thumbnail,
a.post-thumbnail img,
img.post-thumbnail {
  width: 100%;
}

.entry-meta-author,
.entry-meta-date,
.entry-meta-comments {
  .text-center;
  &:extend(small);

  padding: 5px 10px;
}

.entry-meta-author,
.entry-meta-date {
  .pull-left;
  width: 50%;
}

.entry-meta-comments {
  clear: both;
  border-top: 1px solid @well-border;
}

.entry-meta-categories {
  a {
    .label;
    .label-default;

    font-weight: normal;
    text-decoration: none;
  }
}

.entry-meta-tags {
  font-size: 80%;
}

//
// Sidebars
// --------------------------------------------------

.sidebar {
  .sr-only;
}
