//
// Footer
// --------------------------------------------------

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @line-height-computed * 3;
  background-color: @gray-lighter;

  .container {
    .text-center;

    padding-top: @line-height-computed;
    padding-bottom: @line-height-computed;
  }
}
