//
// Widgets
// --------------------------------------------------

// Search form
.search-form {
  input[type="search"] {
    .input-sm;
  }

  button[type="submit"] {
    .btn-sm;
  }

  @media (min-width: @screen-sm-min) {

    input[type="search"] {
      .form-control;
    }

    button[type="submit"] {
      .btn;
      .btn-default;
    }

  }
}

// Widget Nav Menu
.widget_nav_menu .menu,

// Widget Meta
.widget_meta > ul,

// Widget Pages
.widget_pages > ul,

// Widget Archive
.widget_archive > ul,

// Widget Categories
.widget_categories > ul {
  .nav;
  .nav-tabs;

  border-bottom: 0;
  margin: -(@line-height-computed / 2);

  > li {
    float: none;

    & + li {
      margin-top: 0;

      & > a {
        border-top: 1px solid @well-border;
      }
    }
  }

  > li > a {
    margin-right: 0;
    border-radius: 0;

    &:hover,
    &:focus {
      z-index: 2;
      border-top:    1px solid @well-border;
      border-right:  1px solid transparent;
      border-bottom: 1px solid @well-border;
      border-left:   1px solid transparent;
    }
  }


  > li:first-child > a {
    border-top: 0;
    .border-top-radius(0);
  }

  > li:last-child > a {
    .border-bottom-radius(0);
  }
}

// Glyphicons (widget list)
.widget_nav_menu .menu > li > a:before,
.widget_meta > ul > li > a:before,
.widget_pages > ul > li > a:before,
.widget_archive > ul > li > a:before,
.widget_categories > ul > li > a:before,

// Glyphicons (titles)
.widget_nav_menu .widget-title:before,
.widget_meta .widget-title:before,
.widget_archive .widget-title:before,
.widget_pages .widget-title:before,
.widget_calendar .widget-title:before,
.widget_recent_comments .widget-title:before,
.widget_recent_entries .widget-title:before,
.widget_tag_cloud .widget-title:before,

// Glyphicons (extras)
.widget_recent_comments > ul > li a:first-child:before,
.widget_recent_entries > ul > li a:before {
  margin-right: 5px;
  content: "\e144";
  font-family: 'Glyphicons Halflings';
  vertical-align: middle;
}

// Widget Archive
.widget_archive {
  .widget-title:before {
    content: "\e109";
  }

  > ul  > li > a:before {
    content: "\e109";
  }
}

// Widget Pages
.widget_pages {
  .widget-title:before {
    content: "\e022";
  }

  > ul  > li > a:before {
    content: "\e022";
  }
}

// Widget Calendar
.widget_calendar {
  .widget-title:before {
    content: "\e109";
  }

  table {
    .table;
    .table-condensed;

    font-size: 90%;

    th, td {
      .text-center;
    }

    caption {
      .text-muted;
    }
  }
}

// Widget Recent Comments
.widget_recent_comments,

// Widget Recent Entries
.widget_recent_entries {
  font-size: 90%;

  > ul {
    .list-unstyled;

    > li + li {
      margin-top: @line-height-computed / 2;
    }
  }
}

// Widget Recent Comments
.widget_recent_comments {
  .widget-title:before {
    content: "\e111";
  }

  > ul > li a:first-child:before {
    content: "\e111";
  }
}

// Widget Recent Entries
.widget_recent_entries {
  .widget-title:before {
    content: "\e022";
  }

  > ul > li {
    position: relative;
    padding-top: (@line-height-computed / 2) + 5px;

    a {
      &:before {
        content: "\e022";
      }
    }

    span {
      .label;
      .label-default;

      position: absolute;
      top: 0;
      left: 0;
      font-weight: normal;
    }
  }
}

// Widget Tag Cloud
.widget_tag_cloud  {
  .widget-title:before {
    content: "\2601";
  }

  .tagcloud {
    .text-center;
  }
}
